.site-layout-content {
  height: 280px;
  width: 500px;
  padding: 24px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout {
  min-height: 100vh;
}
.auth-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
